<!DOCTYPE html>
<html lang="en">
<head>
    
    {%include 'links.html'%}
    <title>Table Reservation - Restaurant Application</title>

    <style>

      .card-header > a
      {
          text-decoration:none !important;
      }
      .card-header
      {
        background-color: var(--secondary);
      }
      .card-header > a > h5{
        color: white;
        font-weight: 800px;;
      }

      .res-table
      {
        background-color:var(--primary);
        height:80px;
        color:white;
        padding:10px;
        display:flex;
        justify-content: center;
        align-items: center;

      }
      .res-table:hover
      {
        background-color:var(--primaryLight);
        cursor: pointer;
      }
      .res-table-num
      {
        background-color: white;
        color:black !important;
        padding:5px;
        border-radius: 50%;
      }
    </style>
</head>
<body>

    <div class="d-flex" id="wrapper">

        {% include 'private/content/sidebar.html' %}
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          {% include 'private/content/navbar.html' %}
    
          <div class="container-fluid p-5">


            <div class="row">
              <div class="col-md-8">

                <h1>Table Reservation</h1>
                <p>Start a table reservation or do check-in, check-out</p>

              </div>
              <div class="col-md-2">
                <a href="#" class="btn btn-secondary btn-block"><i class="fas fa-plus"></i>  Create Reservation</a>
              </div>
              <div class="col-md-2">
                <a href="#" class="btn btn-secondary btn-block"><i class="fas fa-user"></i>  Check In / Check Out</a>

              </div>
            </div>



          

            <!-- Table Visualization Starts -->
            
              <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
          
            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    Floor 1 Tables <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">
                 

                  Below are the tables for Floor 1

                  <div class="row p-1">
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    <div class="col-md-1 mb-2">
                      <div class="res-table" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="res-table-num">1</p>
                      </div>
                    </div>
                    


                  </div>

                </div>
              </div>
          
            </div>
            <!-- Accordion card -->
          
            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0">
                    Floor 3 Tables <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                 Tables will appear here soon
                </div>
              </div>
          
            </div>
            <!-- Accordion card -->
          
            
          
          </div>
          <!-- Accordion wrapper -->
          
       



          <!-- Table Visualization Ends  -->









        </div>
        </div>
        <!-- /#page-content-wrapper -->
    
      </div>
      <!-- /#wrapper -->






      <!-- Modal Starts Here -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">Details For Table 1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Location: 4th from Entrance, Right Side</p>
        <p>Max People: 7</p>
        <hr/>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Ends Here -->




      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
      </script>
    
</body>
</html>